<header
  class="w-full bg-gradient-to-r from-red-500 to-pink-400 text-white py-10 shadow-md"
>
  <nav class="max-w-6xl mx-auto px-10 flex items-center space-x-16 text-lg">
    <a href="/" class="hover:text-gray-200">Home</a>
    <a href="/host/add-home" class="hover:text-gray-200">Add Home</a>
  </nav>
</header>
